# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Build
dist
build
.next

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Git
.git
.gitignore

# Docs
*.md
LICENSE

# TypeScript
*.tsbuildinfo
next-env.d.ts
